body {
    font-family: poppin, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f8f7;
    color: #333;
}  

h1, h2 {
    color: #222;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0rem 12rem;
    border: 1.06px solid rgb(229, 226, 226);
    /* background: linear-gradient(99.98deg, rgba(253, 253, 253, 0.668) 3.7%, rgba(82, 81, 81, 0.663) 108.29%); */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.196);
    /* background: rgba(255, 255, 255, 0.7); Semi-transparent white */
    backdrop-filter: blur(10px);
    height: 26px;
    align-items: center;
    position: fixed;
    width: 1420px;
}
.header div{
    display: flex;

}
.header div img{
    padding-left: 59px;
    height: 18px;
}
.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.logomark{
    width: fit-content;
}

.nav{
    margin-left: 1rem;
    font-size: 1rem;
    display: flex;
    padding-right:76px ;
}
.nav p{
    padding-right: 20px;
    font-size: 12px;
    color: rgb(116, 115, 115);
}
.nav img{/* Store Badge */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 32px;
    height: 32px;
    
    /* Neutral Extended / Neutral 90 */
    background: #1E1F23;
    border-radius: 6.62069px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    place-self: center;
    margin: 0px 0px 0px 10px;
    
}

.hero {
    text-align: center;
    padding: 2.5rem 2rem;
    /* background: linear-gradient(135deg, #c4e2d5, #e8f4f1); */
    background: linear-gradient(319.26deg, #FEEFC7 -2.44%, #E3F1E7 75.19%);
    height: 1145px;
    position: static;
}
.fixedpic{
    /* Frame 2052 */
    position: absolute;
    width: 460px;
    height: 500px;
    right: 93px;
    top: 672.96px;


    /* Primary / Malachite */
    /* background: #17C95F;
    /* Shadow for Light BG/Shadow - Extra Large */
    /* box-shadow: 0px 120px 120px rgba(22, 34, 51, 0.02), 0px 64px 64px rgba(22, 34, 51, 0.12), 0px 32px 32px rgba(22, 34, 51, 0.04), 0px 24px 24px rgba(22, 34, 51, 0.04), 0px 4px 24px rgba(22, 34, 51, 0.04), 0px 4px 4px rgba(22, 34, 51, 0.04); */
    /* border-radius: 200px; */ 

}

.hero h1 {
    font-family: 'Gilroy', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 auto;
    padding: 10rem 1rem 1rem 1rem;
} 

.features-list {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
.features.list ul{
    display: flex;
    justify-content: center;
}
.features-list li {
    margin: 0.5rem 0;
    display: flex;
    padding: 0% 3%;
    font-size: 20px;
}

.hero-image {
    max-width: 100%;
    margin-top: 2rem;
}

.features-section {
    padding: 15rem 2rem 2rem 2rem;
    background: #fff;
}
.features-section h3{
    font-size: 60px;
    font-weight: 500;
    align-self: center;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.features-section span{
    font-size: 60px;
    font-weight: 700;
    display: flex;
    padding-right: 10px;
}
.divider1{
    justify-self: center;
    width: 77%;
    height: 3px;
    background-color: #DDE5DD;
    margin: 74px auto;
}

.features-grid {
    display: flex;
    justify-content: center;
    margin: 57px;
    /* text-align: center; */
}

.feature-item {
    max-width: 410px;
    display: flex;
    padding-right: 60px;
}

.feature-item img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.feature-item p {
    font-size: 1.5rem;
    color: grey;
}


/* 2nd component */

.midbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0px;

    width: 100%;
    height: 60.95px;

    /* Neutral Extended / Neutral 20 */
    background: #F4F5F8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* 3rd component */

/* Section Background */
.how-to-pay-off {
    background-color: #F7FDF6; /* Light green background matching the design */
    padding: 3rem 17rem;
    /* height: 1080px;
    display: block; */
  }
  .how-to-pay-off h2{
    font-size: 60px;
    font-weight: 500;
    align-self: center;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.how-to-pay-off h2 span{
    font-size: 60px;
    font-weight: 700;
    display: flex;
    padding-right: 10px;
}
.how-to-pay-off h3 {
    font-size: 32px;
    font-weight: 700;
    /* text-align: center; */
    margin-bottom: 2rem;
    color: #222; /* Dark text for contrast */
}
  /* Steps Container */
  .steps {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  /* Single Step Styling */
  .step {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 2rem;
  }
  
  .step:nth-child(odd) {
    flex-direction: row; /* Default alignment */
  }
  
  .step:nth-child(even) {
    flex-direction: row-reverse; /* Alternate alignment */
  }
  
  /* Step Image */
  .step-image img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 16px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  }
  
  /* Step Content */
  .step-content {
    flex: 1;
    padding: 4% 5%;
  }
  
  .step-number {
    font-size: 25px;
    font-weight: 700;
    color: #4CAF50; /* Bright green for numbers */
    margin-bottom: 0.5rem;
  }
  
  .step-content h3 {
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .step-content p {
    font-size: 34px;
    margin-bottom: 1rem;
    color: #929090;
  }
  .step-content div{
    padding-top: 57px;
  }
  .apply-now {
    font-size: 22px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: 600;
    color: black;
    vertical-align: top;
  }
  
  /* Divider Line */
  .divider {
    width: 90%;
    height: 1px;
    background-color: #DDE5DD;
    margin: 0 auto;
  }

  /* 4th component */

/* Section Styling */
.testimonials-faq {
    /* background-color: #F8FDF7; Light background */
    padding: 4rem 0rem;
    height: 100%;
    width: 100%;
    display: block;
    background-color: white;
    /* margin-top: 1000px ; */
  }
  
  /* Testimonials Section */
  .testimonials {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .testimonials h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #222; /* Dark text */
  }
  
  .testimonials p {
    font-size: 25px;
    color: #000000; /* Subtle text */
    margin-bottom: 1rem;
    justify-items: left;
  }
  
  .testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
    margin: 5% 0px;
  }
  
  .testimonial-card {
    background: #F4F5F8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 200px;
    text-align: left;
  }
  
  .stars img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  
  .testimonial-card p {
    font-size: 14px;
    color: #555;
    margin: 1rem 0;
  }
  
  .testimonial-card span {
    font-size: 12px;
    color: #333;
    font-weight: 600;
    
  }
  
  /* FAQ Section */
  .faq {
    text-align: left;
    max-width: 1390px;
    margin: 12% auto 2% auto;
    display: block;
  }
  
  .faq h3 {
    font-size: 60px;
    font-weight: 700;
    color: #222;
    margin-bottom: 4rem;
  }
  
  .faq h3 .bold {
    font-weight: 900;
  }
  
  .faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .faq-item p {
    font-size: 25px;
    color: #333;
  }
  
  .faq-item .icon {
    width: 20px;
    height: 20px;
  }
  
  hr {
    border: none;
    height: 1px;
    background: #DDE5DD;
    margin: 0;
  }
  
  /* 5th section */

  .crush-debit{
    background: linear-gradient(101.18deg, #E5F1E3 0.62%, #BAE8CB 69.56%);

  }
  .crush-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .crush-card p{
    font-size: 60px;
    padding-left: 14%;
    /* font-weight: 800; */
  }
  .crush-card p span{
    font-weight: 700;
  }

  /* 6th section */
  .txt {
    padding: 5% 13%;
  }




                                                                  /* dxdxfcgvhbjnkbhgfcxdfcgvhbjnbhvgcfxdfcgvhbjvgcf */



  body {
    font-family: poppin, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f8f7;
    color: #333;
  }  
  
  h1, h2 {
    color: #222;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    margin: 0 8%;
    border: 0.1% solid rgb(229, 226, 226);
    border-radius: 0.7%;
    background-color: rgba(255, 255, 255, 0.196);
    backdrop-filter: blur(10px);
    height: 2%;
    align-items: center;
    position: fixed;
    width: 90%;
  }
  .header div {
    display: flex;
  }
  .header div img {
    padding-left: 4%;
    height: 1.2%;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .logomark {
    width: fit-content;
  }
  
  .nav {
    margin-left: 1%;
    font-size: 1rem;
    display: flex;
    padding-right: 5%;
  }
  .nav p {
    padding-right: 1.5%;
    font-size: 0.75rem;
    color: rgb(116, 115, 115);
  }
  .nav img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2.5%;
    height: 2.5%;
    background: #1E1F23;
    border-radius: 10%;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 0 0 1%;
  }
  
  .hero {
    text-align: center;
    padding: 5% 2%;
    background: linear-gradient(319.26deg, #FEEFC7 -2.44%, #E3F1E7 75.19%);
    height: 120%;
    position: static;
  }
  .fixedpic {
    position: absolute;
    width: 32%;
    height: 45%;
    right: 6.5%;
    top: 60%;
  }
  
  .hero h1 {
    font-family: 'Gilroy', sans-serif;
    font-size: 5%;
    font-weight: 700;
    line-height: 5.5%;
    letter-spacing: -0.1%;
    text-align: center;
    margin: 0 auto;
    padding: 20% 1% 1% 1%;
  } 
  
  .features-list {
    list-style-type: none;
    padding: 0;
    margin: 5% 0;
    display: flex;
    justify-content: center;
  }
  .features.list ul {
    display: flex;
    justify-content: center;
  }
  .features-list li {
    margin: 1% 0;
    display: flex;
    padding: 0 3%;
    font-size: 1.2%;
  }
  
  .hero-image {
    max-width: 100%;
    margin-top: 5%;
  }
  
  .features-section {
    padding: 10% 2% 2% 2%;
    background: #fff;
  }
  .features-section h3 {
    font-size: 3%;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .features-section span {
    font-size: 3%;
    font-weight: 700;
    display: flex;
    padding-right: 0.5%;
  }
  .divider1 {
    justify-self: center;
    width: 80%;
    height: 0.2%;
    background-color: #DDE5DD;
    margin: 5% auto;
  }
  
  .features-grid {
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  
  .feature-item {
    max-width: 30%;
    display: flex;
    padding-right: 5%;
  }
  
  .feature-item img {
    max-width: 15%;
    margin-bottom: 2%;
  }
  
  .feature-item p {
    font-size: 1%;
    color: grey;
  }
  
  .midbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    width: 100%;
    height: 5%;
    background: #F4F5F8;
  }
  
  /* Additional Sections */
  
  .how-to-pay-off {
    background-color: #F7FDF6;
    padding: 5% 10%;
  }
  .how-to-pay-off h2 {
    font-size: 3%;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .how-to-pay-off h2 span {
    font-size: 3%;
    font-weight: 700;
    padding-right: 1%;
  }
  .how-to-pay-off h3 {
    font-size: 2%;
    font-weight: 700;
    margin-bottom: 5%;
    color: #222;
  }
  .steps {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  .step {
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }
  .step:nth-child(even) {
    flex-direction: row-reverse;
  }
  .step-image img {
    width: 40%;
    height: 40%;
    border-radius: 2%;
  }
  .step-content {
    flex: 1;
    padding: 2% 3%;
  }
  .step-number {
    font-size: 2%;
    font-weight: 700;
    color: #4CAF50;
    margin-bottom: 1%;
  }
  .step-content h3 {
    font-size: 2.5%;
    font-weight: 700;
    margin-bottom: 2%;
    color: #333;
  }
  .step-content p {
    font-size: 2%;
    margin-bottom: 2%;
    color: #929090;
  }
  .step-content div {
    padding-top: 5%;
  }
  

                                                            /* media query for the mobile view */


  @media(max-width: 768px){
    .body{
        display: none;
    }
    .header {
        /* Nav Bar */
        position: absolute;
        width: 337px;
        height: 30px;
        left: 12px;
        top: 21px;
        padding: 2px;
        margin: 1px;
        
    }
    .header div{
        display: flex;
    
    }
    .header div img{
        padding-left: 59px;
        height: 18px;
    }
    .logo {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .logomark{
        width: fit-content;
    }
    
    .nav{
        margin-left: 1px;
        font-size: 1rem;
        display: flex;
        padding-right:76px ;
    }
    .nav p{
        padding-right: 20px;
        font-size: 12px;
        color: rgb(116, 115, 115);
    }
    .nav img{/* Store Badge */
    
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        
        width: 32px;
        height: 32px;
        
        /* Neutral Extended / Neutral 90 */
        background: #1E1F23;
        border-radius: 6.62069px;
        
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        place-self: center;
        margin: 0px 0px 0px 10px;
        
    }
    .fixedpic{
      display: none;
    }

    /* 5th section */

    .crush-card {
      text-align: center; /* Center-align content in mobile view */
      padding: 20px;
  }
  
  .crush-card img {
      max-width: 100%; /* Ensure image fits within the container */
      height: auto; /* Maintain aspect ratio */
  }
  .midbar{
    display: block;
    width: 80%;
    height: 60%;
  }
  
}